<!-- HERO
    ================================================== -->
<section class="banner-area py-7">
  <!-- Content -->
  <div class="container">
    <div class="row  align-items-center">
      <div class="col-md-12 col-lg-7 text-center text-lg-left">
        <div class="main-banner">
          <!-- Heading -->
          <h1 class="display-4 mb-4 font-weight-normal">Make <br />Something Delicious</h1>

          <!-- Subheading -->
          <p class="lead mb-4">
            At O's, we provide excellent customer service, and consistent high quality products while providing
            healthy and delicious yet easy ways to prepare O's foods.
          </p>

          <!-- Button -->
          <p class="mb-0">
            <a href="#section-about" class="btn btn-primary btn-circled">
              Learn more
            </a>
          </p>
        </div>
      </div>

      <div class="col-lg-5 d-none d-lg-block">
        <!-- <div class="banner-img-block">
          <img src="assets/img/banner-img-5.png" alt="banner-img" class="img-fluid" />
        </div> -->
        <div>
          <div
            class="fb-video"
            data-href="https://www.facebook.com/watch/?v=1959937937363913"
            data-width="800"
            data-show-text="false"
          >
            <blockquote
              cite="https://developers.facebook.com/o.barbados/videos/1959937937363913/"
              class="fb-xfbml-parse-ignore"
            >
              <a href="https://developers.facebook.com/o.barbados/videos/1959937937363913/">O&#039;s Products</a>
              <p></p>
              Posted by <a href="https://www.facebook.com/o.barbados/">O&#039;s</a> on Monday, 18 June 2018
            </blockquote>
          </div>
        </div>
      </div>
    </div>
    <!-- / .row -->
  </div>
  <!-- / .container -->
</section>
