<!-- index.nunjucks -->
{% extends "layout.njk" %}

{% block content %}

  <!-- Projects ================================================== -->

  <section class="section" id="projects-wrap">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="section-heading">
            <h1 class="text-white">O’s is a family run business, managed by Mrs. Louisien-Stoute. It first started as a home based business, but has gradually developed into a factory run operation.
            </h1>
          </div>
        </div>
        <div class="col-lg-6">
          <h3 class="text-white">O’s has been in operation for over 13 years and has over 13 products and growing.</h3>
          <p class="lead text-white">Over the past six years, we have been launching a new product and have exhibited them at BMEX to get the public’s opinion, which we cherish very much as company. We try our best to give the customer what they are looking for and make it in a way that it is easy for them to use.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section id="projects" class="section-bottom">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 col-sm-6 mb-5">
          <div class="single-project">
            <img src="assets/img/uploads/10246690_801215546569497_3494169679630143421_n.jpg" alt="" class="img-fluid">
            <div class="project-content">
              <h4>Best Booth</h4>
              <p>at BMEX 2014</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 mb-5">
          <div class="single-project">
            <img src="assets/img/uploads/10419420_801248689899516_8388582166320781405_n.jpg" alt="" class="img-fluid">
            <div class="project-content">
              <h4>Our Team</h4>
              <p>at BMEX 2018</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-8 ">
          <div class="single-project">
            <img src="assets/img/uploads/1836902_748954688462250_1028045738_o.jpg" alt="" class="img-fluid">
            <div class="project-content">
              <h4>New Packaging</h4>
              <p>Available Islandwide</p>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-12 col-sm-12 col-md-12">
            <div class="section-heading testimonial-heading">
              <h1>About the Owner</h1>
              {# <p>Numquam doloribus impedit at consectetur molestiae tempora ratione possimus in veniam aperiam, eum consequuntur, unde. Earum ullam molestiae suscipit saepe sunt recusandae.</p> #}
            </div>
          </div>
          <div class="col-lg-12 col-sm-12 col-md-12">
            <div class="row">
              <div class="col-lg-12">
                <div class="test-inner ">
                  <div class="test-author-thumb d-flex">
                    <img src="assets/img/uploads/36706_1458559057304_2937282_n.jpg" alt="Testimonial author" class="img-fluid">
                    <div class="test-author-info">
                      <h4>Theophilia Louisien-Stoute</h4>
                      {# <h6>Sunrise Paradise Hotel</h6> #}
                    </div>
                  </div>

                  A wife, a mother of four and now the grandmother of nine, Theophilia Louisien-Stoute who is affectionately called Offee, is a true Caribbean woman. Born in the beautiful island of st.lucia, married to a sweet guyanese and living in breathtaking paradise Barbados. Her journey to Barbados was to make a better life and to help her mother and five younger siblings, but becoming a successful entrepreneur was far from her mind.

                  <i class="fa fa-quote-right"></i>
                </div>
              </div>
              {# <div class="col-lg-6">
                <div class="test-inner ">
                  <div class="test-author-thumb d-flex">
                    <img src="assets/img/client/test-2.jpg" alt="Testimonial author" class="img-fluid">
                    <div class="test-author-info">
                      <h4>Will Barrow</h4>
                      <h6>Sunrise Paradise Hotel</h6>
                    </div>
                  </div>

                  Quas ut distinctio tenetur animi nihil rem, amet dolorum totam. Ab repudiandae tempore qui fugiat amet ipsa id omnis ipsam, laudantium! Dolorem.

                  <i class="fa fa-quote-right"></i>
                </div>
              </div> #}
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>

  {# {% include "partials/contactform.html" %} #}
  <!-- /.row -->
</div>
<!-- /.container -->

{% endblock %}