<!-- index.nunjucks -->
{% extends "layout.njk" %}

{% block content %}

  <!-- Projects ================================================== -->

  <section class="section" id="projects-wrap">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="section-heading">
            <h1 class="text-white">O’s is a family run business, managed by Mrs. Louisien-Stoute. It first started as a home based business, but has gradually developed into a factory run operation.
            </h1>
          </div>
        </div>
        <div class="col-lg-6">
          <h3 class="text-white">O’s has been in operation for over 13 years and has over 13 products and growing.</h3>
          <p class="lead text-white">Over the past six years, we have been launching a new product and have exhibited them at BMEX to get the public’s opinion, which we cherish very much as company. We try our best to give the customer what they are looking for and make it in a way that it is easy for them to use.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section id="projects" class="section-bottom">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 col-sm-6 mb-5">
          <div class="single-project">
            <img src="assets/img/projects/p-1.jpg" alt="" class="img-fluid">
            <div class="project-content">
              <h4>Project: onepage</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate eligendi consequuntur veniam quod</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 mb-5">
          <div class="single-project">
            <img src="assets/img/projects/p-4.jpg" alt="" class="img-fluid">
            <div class="project-content">
              <h4>Project: business</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate eligendi consequuntur veniam quod</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-8 ">
          <div class="single-project">
            <img src="assets/img/projects/p-3.jpg" alt="" class="img-fluid">
            <div class="project-content">
              <h4>Project : Marketing</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate eligendi consequuntur veniam quod</p>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-4 col-sm-12 col-md-12">
            <div class="section-heading testimonial-heading">
              <h1>About our
                <br/>
                CEO</h1>
              <p>Numquam doloribus impedit at consectetur molestiae tempora ratione possimus in veniam aperiam, eum consequuntur, unde. Earum ullam molestiae suscipit saepe sunt recusandae.</p>
            </div>
          </div>
          <div class="col-lg-8 col-sm-12 col-md-12">
            <div class="row">
              <div class="col-lg-12">
                <div class="test-inner ">
                  <div class="test-author-thumb d-flex">
                    <img src="assets/img/client/test-1.jpg" alt="Testimonial author" class="img-fluid">
                    <div class="test-author-info">
                      <h4>Will Barrow</h4>
                      <h6>Sunrise Paradise Hotel</h6>
                    </div>
                  </div>

                  Quas ut distinctio tenetur animi nihil rem, amet dolorum totam. Ab repudiandae tempore qui fugiat amet ipsa id omnis ipsam, laudantium! Dolorem.

                  <i class="fa fa-quote-right"></i>
                </div>
              </div>
              {# <div class="col-lg-6">
                <div class="test-inner ">
                  <div class="test-author-thumb d-flex">
                    <img src="assets/img/client/test-2.jpg" alt="Testimonial author" class="img-fluid">
                    <div class="test-author-info">
                      <h4>Will Barrow</h4>
                      <h6>Sunrise Paradise Hotel</h6>
                    </div>
                  </div>

                  Quas ut distinctio tenetur animi nihil rem, amet dolorum totam. Ab repudiandae tempore qui fugiat amet ipsa id omnis ipsam, laudantium! Dolorem.

                  <i class="fa fa-quote-right"></i>
                </div>
              </div> #}
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>

  {# {% include "partials/contactform.html" %} #}
  <!-- /.row -->
</div>
<!-- /.container -->

{% endblock %}